.header {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.light {
    color: #000;
}

.dark {
    color: #fff;
}

.theme_toggle_button {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    cursor: pointer;
}

.theme_toggle_button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme_toggle_button .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.theme_toggle_button input:checked + .slider {
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(248, 246, 246);
}

.theme_toggle_button .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.theme_toggle_button input:checked + .slider:before {
    transform: translateX(26px);
}
