.form_wrapper {
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 30px 100px;
  border-radius: 40px;
}

label {
  font-size: 18px;
  margin-top: 5px;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 20px;
}
